.form_add(style="z-index: 9;")
  form#newBotForm(action="bots", method="post")
    label
      | Name
      input#name(type="text", name="name", required="true")
    label
      | Number of driver
      input#nbDriver(type="number", min="0", value="5", name="nb_driver", required="true")

    input(type="submit")
