extends layout

block content
  #load.site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          a.brand.center-block(href='/', title='home')
            img.center-block(src='/images/bumblebee-bot-transformers.jpg', width='200', title='BumblebeeBot Logo')
            h1.center-block.text-center Bumblebee Bot
          p.lead Generate realtime driver bot with random trips.
          p.lead
            a#load-close.btn.btn-lg.btn-primary(href='#') Let&apos;s go !
  #main.site-wrapper
    .site-wrapper-inner
      div
        .masthead.clearfix
          header.inner
            a.masthead-brand(href='/', title='home')
              img(src='/images/logo.svg', width='50', title='BumblebeeBot Logo')
              h1 Bumblebee Bot
            nav
              ul.nav.masthead-nav
                li#home.active
                  a(href='#') Home
                li
                  a#add(href='#') Add
                li
                  a#list(href='#') List
        #map
  .signature
    p
      | Made with love by 
      a(href='http://mobilityz.io') mobilityz.io