doctype html
html
  head
    meta(charset='utf-8')
    title Bumblebee Bot
    meta(name='description', content='Bumblebee Bot')

    link(rel='apple-touch-icon', sizes='180x180', href='/images/icon/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='/images/icon/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/images/icon/favicon-16x16.png', sizes='16x16')
    link(rel='mask-icon', href='/images/icon/safari-pinned-tab.svg', color='#333333')
    meta(name='theme-color', content='#333333')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.0/leaflet.draw.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/sweetalert2/6.0.0/sweetalert2.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script.
      var socket = io('http://localhost:3000');
      socket.on('notification', function (data) {
        console.log(data);
      });

  body(itemtype='http://schema.org/WebApplication')
    block content

  footer
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/sweetalert2/6.0.0/sweetalert2.min.js')
    script(src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.0/leaflet.draw.js')
    script(src='/javascripts/index.js')
