.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5); }

#load {
  position: fixed;
  background-color: #333;
  z-index: 10; }

.masthead-brand h1, .masthead-brand img {
  display: inline-block; }

.masthead-brand h1 {
  vertical-align: middle;
  color: #F8D45C; }

.masthead-brand img {
  margin-right: 2rem; }

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top; }

.cover-container {
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0; }
  .site-wrapper-inner {
    vertical-align: middle; }
  .masthead, .cover-container {
    width: 100%; } }

@media (min-width: 992px) {
  .masthead, .cover-container {
    width: 700px; } }

.btn-default {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff; }
  .btn-default:hover, .btn-default:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: 1px solid #fff; }

.btn-primary {
  background-color: #F8D45C;
  border: 1px solid #F8D45C;
  color: #333;
  text-shadow: none; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #F8D45C;
    border: 1px solid #F8D45C;
    color: #333;
    text-shadow: none; }

.btn {
  margin-right: 5px; }

.btn:last-child {
  margin-right: 0; }

form {
  color: black; }

a {
  color: #fff; }
  a:focus, a:hover {
    color: #fff; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #111; }
  #map .leaflet-draw {
    display: none; }

.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep, .swal2-progresssteps .swal2-progresscircle, .swal2-progresssteps .swal2-progressline {
  background: #F8D45C;
  color: #333; }

.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep ~ .swal2-progresscircle, .swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep ~ .swal2-progressline {
  background: #eeefae; }

.swal2-modal h2 {
  color: #F8D45C; }

.swal2-modal .swal2-content {
  color: #fff; }

.swal2-modal .swal2-styled {
  color: #333; }

.swal2-modal input[placeholder], .swal2-modal [placeholder], .swal2-modal *[placeholder] {
  color: #333; }

#list-bots th {
  text-align: center;
  padding: 10px; }

#main .masthead {
  z-index: 9;
  left: 25%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0 2rem; }

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px; }

.masthead-nav {
  margin-top: 3.5rem; }
  .masthead-nav > li {
    display: inline-block; }
    .masthead-nav > li + li {
      margin-left: 20px; }
    .masthead-nav > li > a {
      padding-right: 0;
      padding-left: 0;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      color: rgba(255, 255, 255, 0.75);
      border-bottom: 2px solid transparent; }
      .masthead-nav > li > a:hover, .masthead-nav > li > a:focus {
        background-color: transparent;
        border-bottom-color: rgba(255, 255, 255, 0.25); }

@media (min-width: 768px) {
  .masthead-brand {
    float: left; }
  .masthead-nav {
    float: right; } }

html {
  height: 100%;
  background-color: #333; }

body {
  height: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

.cover {
  padding: 0 20px; }
  .cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold; }

.signature {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }
  .signature p {
    color: #999;
    color: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=style.css.map */